body {
  background-image: url("../images/background.jpg");
}

.container {
  background: skyblue;
  width: 900px;
  height: 700px;
  margin: 25px auto;
}

#main {
  width: 500px;
  height: 75px;
  padding: 5px;
  font-size: 40px;
  text-align: center;
  /* margin-left: 200px; */
}

#trivia {
  font-size: 16px;
  width: 700px;
  /* margin-left: 100px; */
  text-align: center;
  line-height: 40px;
}

#start {
  background-color: plum;
  border: 1px solid plum;
  font-size: 25px;
  /* margin-left: 350px; */
  width: 150px;
  height: 50px;
  text-align: center;
}

#submit {
  background-color: plum;
  border: 1px solid plum;
  font-size: 25px;
  width: 150px;
  height: 50px;
  text-align: center;
  /* margin-left: 350px; */
}

#time-left, #results {
  font-size: 25px;
  width: 400px;
  height: 50px;
  padding: 10px;  
  margin-left: 325px;
}

