/* body {
  background-image: url("../images/background.jpg");
} */

h1 {
  font: 50px;
}
.container {
  background: skyblue;
  width: 900px;
  height: 650px;
  /* margin: 25px auto; */
  text-align: center;
  font-size: 50px;
}

#main {
  width: 500px;
  height: 75px;
  padding: 5px;
  font-size: 40px;
  text-align: center;
  /* margin-left: 200px; */
}

#trivia {
  font-size: 20px;
  /* width: 700px; */
  /* margin-left: 100px; */
  text-align: center;
  line-height: 40px;
  /* color: white; */
}

#start {
  background-color: plum;
  border: 1px solid plum;
  font-size: 25px;
  /* margin-left: 350px; */
  width: 150px;
  height: 50px;
  text-align: center;
}

#submit {
  background-color: plum;
  border: 1px solid plum;
  font-size: 25px;
  width: 150px;
  height: 50px;
  text-align: center;
  /* margin-left: 350px; */
}

#time-left, #results {
  font-size: 25px;
  color: red;
  /* width: 400px;
  height: 50px; */
  padding: 15px;  
  /* margin-left: 325px; */
  text-align: center;
}

